nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0;
   
}
nav ul li{
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;

}

nav ul li:hover{
    text-decoration: underline;
    background-color: aqua;
}
h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: aqua;

}
footer{
    text-align: center;
    font-size: 15px;
    
}